.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: hsl(200, 20%, 13%);
  text-align: center;
  color: #eee;
  padding-top: min(50px, 10vh);
}

.App-link {
  color: #61dafb;
}

input[type="button"], input[type="submit"]{
  cursor: pointer;
}

input {
  background: hsl(200, 10%, 17%);
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  padding:10px 30px 10px 30px;
  width:100px;
}

input:focus {
  background: hsl(200, 12%, 24%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
