.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: hsl(200, 20%, 13%);
  text-align: center;
  color: #eee;
}

.title {
  font-weight: 100;
  font-size: 3em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-input input {
  width:calc(100vw 30px);
}

.time{
  font-size: 3em;
  margin:25px;
}

.App-link {
  color: #61dafb;
}

input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

input {
  background: hsl(200, 10%, 17%);
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 10px 30px 10px 30px;
  width: 100px;
}

input:focus {
  background: hsl(200, 12%, 24%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}