.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: hsl(200, 20%, 13%);
  text-align: center;
  color: #eee;
}

.top {
  flex-direction:row
}

.images {
 width: 50px;
 height: 50px;
 margin-top: 5px;
}

.directions{
  text-align: left;
  padding:10px 30px 10px 30px;
}

.title {
  font-weight: 100;
  font-size: 3em;
  margin-top: 25px;
  margin-bottom: 20px;
  color:rgb(240, 225, 12);
  font-family: Courier;
}

.time{
  font-size: 3em;
  margin:25px;
  color:rgb(240, 225, 12);
}


.App-link {
  color:rgb(112, 173, 252);
  font-family: Courier;
}

input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

.inputBox {
 color:rgb(112, 173, 252);
 margin: 10px;
 margin-bottom: 18px;
 border-style: solid;
 border-width: 2px;
 font-family: Courier;
}

.inputBox2 {
  color:rgb(112, 173, 252);
  margin: 0px;
  border-style: solid;
  border-width: 2px;
  font-family: Courier;
 }

::placeholder {
  color:rgb(112, 173, 252);
  font-family: Courier;
}

input {
  background: hsl(200, 10%, 17%);
  outline: none;
  border: none;
  color:rgb(112, 173, 252);
  font-size: 18px;
  padding: 10px 30px 10px 30px;
  width: 100px;
  font-family: Courier;
}

input:focus {
  background: hsl(200, 12%, 24%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}